img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 color: black;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    justify-content:space-between;
    display: flex;
    background-color: rgba(255, 123, 0, 0.667);
    padding: 10px;
     
  };

header ul{
    display:flex;
    align-items: center;
}
 header li:hover{
    color:aqua;

} 
ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    display: inline-block;
    margin-right: 20px;
}
.nav ul li {
padding: 0 15px;
font-size: 20px;
font-weight: bold;
}
input{
    width: 100px;
    height: 30px;
    background-color: rgb(240, 255, 255);
    border-radius: 5px;
}
.btn{
    width: 90px;
    height: 30px;
    background-color: rgb(243, 240, 255);
    border-radius: 5px;
    font-size: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
